body {
    font-family: Roboto, "Open Sans", sans-serif;
    overflow-x: hidden;
}

.container-fluid {
    max-width: 1400px;
}

.corners-full-width-footer {
    width: 100%;
    background-color: #222;
    padding-top: 0px;
    padding-bottom: 30px;    
    margin-top: 40px;
}

.bolshaya-content-row {
    margin-top: 40px;
}

.bolshaya-content-half-row {
    margin-top: 20px;
}

.bolshaya-background-white {
    background-color: #fff !important;
}

a {
    color: inherit;
}

a:hover, .link-hovered {
    color: orangered;
    text-decoration: underline;
}

p a {
    text-decoration: underline;
}

/* top */

.top-background-line {
    background-color: #eee; 
    height: 7px;
}

.fixed-header {
    //background-color: rgba(255,255,255,0.95);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    z-index: 1000;
    opacity: 0.9;
}

.bolshaya-white-panel {
    padding-top: 15px;
    //color: #222;
    //overflow: hidden;
}

.logo-header {
    letter-spacing: 5px;
    border: 2px #386ce0 solid;
    padding: 5px 10px 5px 15px;
    color: #386ce0;
    white-space: nowrap;
    //background-color: #fff;
}

.logo-header a:hover, .logo-header a:active, .logo-header a:checked,
.logo-header a:focus, .logo-header a:visited {
    text-decoration: none;
    color: #386ce0; 
}


.logo-header:hover {
    border: 2px #386ce0 solid;
    color: #386ce0;
}

.logo-header-center {
    left: -10px;
}

.sidebar-menu {
    padding-right: 15px;
    cursor: pointer;
    color: #ccc;
}

.sidebar-menu:hover {
    color: #386ce0;
}

/* hero */

.bolshaya-overflow { overflow: hidden; }

.intro {
    background-color: #f0f2f3;
    margin-top: 60px; 
    padding-top: 30px;
    padding-bottom: 0px;
}

.intro-home {
    background-color: #f0f2f3;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-repeat: no-repeat;   
}

.intro-category {
    margin-top: 80px !important;
}

.moto-big, h1 {
    font-size: 43px;
    font-family: "Roboto", "Open Sans";
    font-weight: 300;
    line-height: 53px;    
    letter-spacing: 1px;
    margin-top: 0px;
    color: #2d2d2d;
}

.intro-home-content h1 {
    color: #fff;
    font-size: 50px;
}

.intro-home-content h2 {
    color: #fff;
    font-weight: 400;
    margin-top: 50px;
    line-height: 135%;
}

.hero-content {
    margin-top: 50px;
    min-height: 211px;
}

.contact-form, .contact-form-2, .hero-link {
    margin-top: 35px;
}

.contact-form > button, .btn-sky {
    background-color: rgb(32, 152, 245);
    border-color: rgb(32, 152, 245);
    font-weight: bold;
    margin-left: 7px;
}

.contact-form > button:hover, .btn-sky:hover {
    background-color: rgb(10, 124, 212);  
    border-color: rgb(10, 124, 212);  
}

.contact-form-2 > .hidden { display: none; }

.contact-form-2 > input {
    margin-right: 7px;
}

.contact-form > input, .contact-form-2 > input, 
.contact-form > button, .contact-form-2 > button {
    margin-bottom: 5px;  
    border-radius: 2px;
}

.btn-sky {
    margin-bottom: 35px;  
    border-radius: 2px;
}

.arrow-more {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    cursor: pointer;
}

/* block types */

.corners-post-lists {
    position: relative;
}

.type-2-image {
    //margin-bottom: 15px;
}

.type-2-information {
    display: block;
    margin-top: 5px;
}

.type-2-information a:hover {
    text-decoration: none !important;
}

.type-2-information a {
    text-decoration: none !important;
}

.type-2-title {
    margin-top: 14px;
}

.type-3-text, .type-4-text {
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    bottom: 30px;
    left: 0px;
    right: 0px;
}

.type-3-text > .text-muted {
    color: #000;
    opacity: 0.6;
}

.type-4-image {
    height: 340px;
    background-size: cover;
    background-position:50% 50%;
}

.type-4-text {
    color: #dedede;
}

.type-4-text > .text-muted {
    /*color: #cdcdcd;
    opacity: 0.6;*/
}

.type-5-category, .type-6-category {
    font-size: 13px;
    opacity: 0.7;
    text-transform: uppercase;
}

.type-6-category a, .type-5-category a {
    text-decoration: none;
}

.type-5-image {
    margin-bottom: 15px;
}

.type-5-title, .type-6-title {
    margin-top: 7px;
}

.type-6-text, .type-12-text {
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 0px 15% 0px 15%;
}

.type-6-text { bottom: 15px; }

.type-12-text { top: 30px; }

.type-6-title .link-hovered, .type-3-text .link-hovered, .type-4-text .link-hovered, 
.type-6-category .link-hovered {
    color: inherit !important;
}

.type-7-text {
    background-color: #dedede;
    min-height: 340px;
    padding: 45px 15% 0px 15%;
}

.type-7-image {
    margin-bottom: 15px;
    max-width: 75px;
    max-height: 75px;
}

.type-8-text {
    background-color: #dedede;
    min-height: 340px;
    padding: 15% 15% 15% 15%;
}

.type-9-text {
    border-top: 2px #ddd solid;
    padding-top: 10px;
    min-height: 200px;
}

.type-9-text > .title {
    font-size: 18px;
    line-height: 23px;
    padding-top: 10px;
    color: #444;
    padding-right: 25px;
}

.type-9-text > .source {
    color: #444;
    font-size: 12px;
    letter-spacing: .5px;
    line-height: normal;
    text-transform: uppercase;
    opacity: .5;
}

.type-9-text > .source > .time {
    font-family: serif;
    letter-spacing: 0px;
    text-transform: none;
    margin-left: 5px;
    font-style: italic;
}

.type-10-image {
    max-height: 211px;
}

/* mini blocks */

.bolshaya-mini-img-block {
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    display: table-cell;
}

.bolshaya-mini-text-block {
    display: table-cell;
}

.bolshaya-mini-text-block > h3 {
    margin-top: 7px;
    font-weight: 500;
}

.bolshaya-mini-text-block a {
    text-decoration: underline;
}

h3 > .thinner {
    font-weight: 300;
}

.digest-title {
    text-transform: uppercase;
}

/* foot */

.footer {
    background-color: #222;
    color: rgba(122, 122, 122, 0.8);
}

.facebook-icon {
    border-radius: 30px;
    padding: 7px 10px 5px 10px;
    border: 1px #999 solid;
    color: #ccc;
}

.twitter-icon {
    border-radius: 30px;
    padding: 7px 8px 5px 8px;
    border: 1px #999 solid;
    color: #ccc; 
    margin-left: 5px;
}

.facebook-icon:hover {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff;
}

.twitter-icon:hover {
    background-color: #00aced;
    border-color: #00aced;
    color: #fff;
}

.footer-age {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-line {
    border-top-color: #333;
}

.veer {
    font-size: 18px;
}

.veer-stats {
    margin-top: 10px;
    font-size: 9px;
    color: #444;
}

.footer-right-to-left {
    text-align: right;
}

@media (max-width: 768px) {
    .footer-right-to-left {
        text-align: left;
    }
}

/* sidebar */

.sidebar {
    background-color: rgb(255, 255, 255);
    color: rgba(0,0, 0, 0.6);
    height: 100%;
    left: -270px;
    line-height: 28px;
    padding: 30px;
    position: fixed;
    top: 0px;
    vertical-align: baseline;
    width: 200px;
    z-index: 2000;
    display: none;
}

.phone-header {
    /*color: rgba(56, 108, 224, 0.9);*/
}

.sidebar .extra-margin {
    margin-top: 30px;
}

.sidebar p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.sidebar .bolshaya-categories {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    color: #111;
}

.sidebar p a {
    text-decoration: none;
}

.img-logo {
    max-width: 75px;
}

.overlay {
    background-color: #000;
    opacity: 0;
    color: rgb(0, 0, 0);
    height: 100%;
    position: fixed;
    top: 0px;
    vertical-align: baseline;
    width: 100%;
    z-index: 1850;
    display: none;
}

/* parallax type 12 */

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#slide-1 .bcg {
    /*background-image:url();*/
    background-color: #ccc;
}

.img-focus {
    overflow:hidden;
    /*background-color: #000;*/
}

.img-focus-lighter {
    overflow:hidden;
    /*background-color: #999;*/
}

/* show more */
.show-more {
    text-transform: uppercase;
    border-radius: 15px;
    border: 2px solid #ccc;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 11px;
    padding: 10px;
}

.show-more > a {
    text-transform: uppercase;
    color: #222;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.show-more > a:hover {
    color: #222;
    text-decoration: none;
}

.show-more:hover {
    background-color: #ccc;
}

/* message center */

.events-veer-message-center {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(65, 95, 118, 0.8);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 30px;
    box-sizing: border-box;
    color: rgba(250, 251, 255, 0.952941);
    display: none;
    min-height: 80px;
    right: 30px;
    line-height: 20.1599998474121px;
    max-width: 250px;
    padding: 10px 22px 15px 22px;
    pointer-events: auto;
    position: fixed;
    top: auto;
    width: 75%;
    z-index: 1750;
}

.events-veer-message-center > a {
    color: #fff;
    text-decoration: underline;
    color: #ffcc66;
}


.myToastr {
    -webkit-box-shadow: rgb(153, 153, 153) 0px 0px 12px 0px;
    background-color: #386ce0;
    border-radius: 0px;
    box-shadow: rgb(153, 153, 153) 0px 0px 12px 0px;
    color: rgb(255, 255, 255);
    display: none;
    font-size: 14px;
    min-height: 50px;
    opacity: 0.800000011920929;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 15px 15px 15px 15px;
    position: fixed;
    top: 0px;
    width: 100%;
    margin-left: 0%;
    z-index: 1500;
    
    -webkit-animation-duration: 0.25s; /* Chrome, Safari, Opera */
    animation-duration: 0.25s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.page-neighbours-next {
    position: absolute;
    left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.page-neighbours-next a:hover, .page-neighbours-previous a:hover {
    color: #fff;
}

.page-neighbours-next a, .page-neighbours-previous a {
    text-decoration: underline;
}

.page-neighbours-previous {
    position: absolute;
    right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
}

/* post types */

/* 1, 2, 6, 10, 11 */
.corners-post-type-1, .corners-post-type-3  {
    margin-top: 0px;
}

.corners-post-img {
    background-size: cover;
    background-position:50% 50%;
    border-top: 0px;
    min-height: 550px;
    max-height: 1400px;
}

.corners-post-category {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 115px; /*55px;*/
}

.corners-post-title {
    color: #fff;
    font-size: 62px;
    line-height: 68px;
    font-weight: 700;
    margin-top: 10px;
}

.corners-post-date {
    color: #fff;
    margin-top: 30px;
    font-style: italic;
    font-size: 14px;
}

.corners-line {
    margin-top: 35px;   
}

.corners-post-sub-title {
    margin-top: 40px;
    color: #fff;
    font-size: 32px;
    line-height: 36px;
    font-family: serif;
    margin-bottom: 80px;
    padding-left: 0px;
}

.corners-post-sub-title a {
    text-decoration: underline;
}

.corners-post-main-content-wrapper {
    position: relative;
    top: -50px;
}

.corners-post-main-content {
    background-color: #fff;
    margin-top: 2px;
    padding-top: 50px;
}

.corners-text {
    font-size: 21px;
    font-family: serif;
    line-height: 29px;
    color: rgba(0,0,0, 0.65) !important;
    letter-spacing: 0.119999996423721px;      
}

.corners-text p {
    margin-bottom: 30px;  
}

.corners-text a {
    text-decoration: underline;
    color: rgba(0,0,0, 1);
}

.corners-text a:hover {
    color: orangered;
}

.corners-author {
    padding-bottom: 30px;
}

.corners-small-img {
    margin-bottom: 25px;
    max-width: 75px;
    max-height: 75px;
}

.corners-images {
    max-height: 175px;
    margin-bottom: 30px;
    margin-right: 30px;
    float:left;
}

.corners-author-name {
    margin-top: 7px;
    font-size: 12px;
}

.corners-author-name-2 {
    font-size: 12px;
}

@media (max-width: 550px) {
    .corners-post-title {
        font-size: 40px;
        line-height: 110%;
    }
}

.corners-post-type-3 .corners-post-category,
.corners-post-type-3 .corners-post-title,
.corners-post-type-3 .corners-post-sub-title {
    color: #000 !important;
}

.corners-post-type-3 .corners-post-date {
    color: #999;
    font-size: 12px;
}

.corners-post-type-3 .corners-text {
    color: rgba(0,0,0, 0.65) !important;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.159999996423721px;
}

.corners-post-type-3 .corners-text {
    margin-bottom: 40px;
}

.corners-post-type-3 .corners-line {
    border-top-color: #ccc;
    margin-top: 20px;
}

.corners-post-type-3 .corners-post-sub-title { 
    margin-top: 10px;
}

.corners-post-6-wrapper {
    top: 0px;
}

@media (max-width: 991px) {
.corners-post-6-wrapper .corners-text, .corners-post-main-content-wrapper .corners-text {
    margin-top: 30px;
}
}

.corners-post-6-img {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-repeat: no-repeat;   
    min-height: 550px;
    max-height: 1400px;
    background-attachment: fixed;
}

@media(max-width: @iphone-screen) {
    .corners-post-6-img {
        background-attachment: scroll;
    }
}

.corners-post-10-img {
    max-height: 535px !important;
    overflow: hidden;
}

.corners-post-10-img img {
    width: 100%;
}

.corners-post-11-info {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

/* 3, 4, 5, 7, 8, 9 */

.narrow-post {
    max-width: 966px;
    margin-top: 20px;
}

.narrow-post-10 {
    max-width: 966px;
    margin-top: 0px;
}

.corners-post-2-title {
    position: absolute;
    bottom: 30px;
    left: 0px;
    padding: 0px 15% 0px 15%;
    color: #fefefe;
    width: 100%;
}

.corners-post-2-category {
    text-transform: uppercase;
}

.blank-square {
    height: 400px;
    border: 0px solid #ccc;
}

.corners-post-2-text {
    line-height: 24px;
    font-size: 16px;
    color: rgba(34,34,34,1);
    font-weight: 300;
}

.corners-post-2-small-text {
    font-size: 26px;
    line-height: 33px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
}

.corners-post-2-text p {
    margin-bottom: 20px;
}

.corners-post-2-small-text a, .corners-post-2-text a,
.corners-post-4-small-text a {
    text-decoration: underline;
}

.corners-post-2-text a {
    font-weight: 400;
}

.corners-post-2-extra-margin {
    margin-top: 25px;
}

.corners-post-2-extra-half-margin {
    margin-top: 10px;
}

.corners-post-4-title {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 25px 25% 0px 40px;
    color: #111;
    width: 100%;
}

.corners-post-4-category {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.corners-post-4-title h2, .corners-post-5-title h2, .corners-post-8-title h2, .corners-post-9-title h2  {
    margin-top: 7px;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
}

.corners-post-4-small-text {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
    margin-top: 17px;
    line-height: 21px;
}

.corners-post-4-info {
    opacity: 0.5;
    font-size: 11px;
}

.corners-post-5-title {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 25px 25% 0px 40px;
    color: #fefefe;
    width: 100%;
}

.corners-post-5-info-group {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0px 25% 25px 40px;
    color: #fefefe;
    width: 100%;
}

.corners-post-9-title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0px 25% 25px 40px;
    color: #111;
    width: 100%;
}

.more-articles {
    border-top: 2px #efefef solid;
}

.more-articles-post-no-img {
    border-top: 2px #ddd solid;
    padding-top: 10px;
}

.more-articles-title h2 {
    font-weight: 300;
}

.category-title {
    font-weight: 300;
    letter-spacing: 1px;
}

.comment-margin {
    margin-top: 50px;
}

.corners-post-8-title {
    margin-top: 30px;
}

.corners-post-8-small-text {
    font-size: 24px;
    line-height: 135%;
    margin-top: 15px;
}

/* social buttons */

.social-buttons {
    margin-top: 0px;
    margin-bottom: 0px;
}

.social-buttons-type-2 {
    margin-top: -10px;
    margin-bottom: 0px;
}

.social-buttons-type-3 {
    padding-top: 10px;
    width: 85px;
    margin: 0 auto;
}

.social-button {
    float: left;
    margin-right: 5px;
    margin-top: 15px;
}

.social-buttons .social-button {
    margin-top: 0px;
    margin-bottom: 10px;
}

.fb-social-button {
    padding: 5px 10px;
    border: 1px #dfe3ee solid;
    border-radius: 5px;
    color: #3b5998;
    letter-spacing: 1px;
    white-space: nowrap;
}

.twitter-social-button {
    padding: 5px 10px;
    border: 1px #c0deed solid;
    border-radius: 5px;
    color: #55acee;
    letter-spacing: 1px;
    white-space: nowrap;
}

.plus-social-button {
    padding: 5px 10px;
    border: 1px #dfe3ee solid;
    border-radius: 5px;
    color: #dd4b39;
    letter-spacing: 1px;
    white-space: nowrap;
}

.fade-corners {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.mini-block-image {
    max-width: 75px !important;
    max-height: 75px !important;
}